@use "./companies-marquee__content";
@use "./keyframes";
@use "./companies-marquee__content-reverse";

.header-companies-marquee {
  display: flex;
  user-select: none;
  gap: 2.375rem;
  overflow: hidden;

  ul {
    li {
      list-style-type: none;
      img {
        filter: grayscale(1);
      }
    }
  }

  &:last-child {
    margin: 1.25rem 0 0 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .header-companies-marquee__content,
  .header-companies-marquee__content-reverse {
    animation-play-state: paused !important;
  }
}

@media (min-width: 37.5rem) {
  .header-companies-marquee + .header-companies-marquee {
    display: none;
    margin: 0;
  }
}
