.header-companies-marquee__content {
  margin: 3.75rem 0 0 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 2.375rem;
  animation: scroll 25s linear infinite;
}