.close-nav-btn {
  background-color: transparent;
  border: none;
  display: block;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  filter: invert(87%) sepia(28%) saturate(822%) hue-rotate(34deg)
    brightness(103%) contrast(102%);
  align-self: flex-end;
  margin: 0 2.5rem 0 0;
}
