.header-booking-button {
  width: 100%;
  margin: 2.5rem 0 0 0;
  background-color: #191a23;
  color: #fff;
  font-family: "Space Grotesk Regular", sans-serif;
  font-size: 1.25rem;
  border-radius: 0.875rem;
  padding: 0 2.1875rem 0 2.1875rem;
  height: 4.25rem;
  border: none;
  cursor: pointer;
}
