.header-main-text {
  font-family: "Space Grotesk Regular", sans-serif;
  font-size: 1rem;
  $marginHorizontal: 0.625rem;
  margin: 0 $marginHorizontal 0 $marginHorizontal;
  $paddingHorizontal: 0.625rem;
  padding: 0 $paddingHorizontal 0 $paddingHorizontal;
}
