.header-megaphone-image {
  display: block;
  margin: .625rem auto 1.25rem auto;
  max-width: 100%;
  height: auto;
  $paddingHorizontal: 2.125rem;
  padding: 0 $paddingHorizontal 0 $paddingHorizontal;
}
